main {
  width: 94vw;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 2vw;
  margin: 2vw auto;
  padding: 2vw;
}

fieldset {
  width: 90vw;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin: 2vw auto;
  padding: 2vw;
}
