main {
  width: 94vw;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 2vw;
  margin: 3vw auto;
  padding: 1vw;
  text-align: center;
}

fieldset {
  width: 86vw;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin: 1vw auto;
  padding: 1vw;
  text-align: justify;
}

label {
  width: 80vw;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  margin: 1vw auto;
  padding: 1vw;
}

#ult {
  width: 86vw;
  text-align: justify;
}

span {
  color: red
}
