@import './node_modules/pikaday/css/pikaday.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(93, 96, 99);
  line-height: 1.3;
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', 'Sans-serif';
}

main {
  margin: 20px 130px;
}

.form-header {
  text-align: center;
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}
