ol li {
    background-color: yellow;
}
ol li:nth-child(even) {
    color: green;
}
ol li:nth-child(odd) {
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    color: red;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: 700;
}
.lang li:nth-child(-n+3) {
    color: blue;
}
.java {
    background-color: pink;
}
.allies li a:hover {
    font-weight: 700;
}
.allies li a[href*="stackoverflow"] {
    color: orange;
} 
.allies li a[href*="w3schools"] {
    color: green;
} 
.allies li a[href*="mozilla"] {
    color: black;
} 
.allies li a[href*="devdocs"] {
    color: yellow;
} 
.allies li a[href*="trybe"] {
    color: green;
}