div:hover {
    border: 3px solid orange;
}
div:first-of-type {
    background-color: blue;
}
div:nth-of-type(2) {
    background-color: green;
}
div:nth-of-type(3) {
    background-color: blueviolet;
    font-size: 2em;
}
div:nth-of-type(4) {
    background-color: black;
    color: white;
}
div:last-of-type {
    background-color: lightgrey;
}
h3:first-of-type {
    font-style: italic;
}
h3:nth-of-type(2) {
}
h3:nth-of-type(3) {
    font-style: italic;
}
h3:nth-of-type(4) {
}
h3:last-of-type {
    font-style: italic;
}